<div class="col-12 blog-text">
  <h2 class="mt1 mb0">{{unique-post.blogHeading}}</h2>
  <small class="mb1">{{unique-post.blogDate}}</small>
  <div class="mt1 mb1">
    <img src={{unique-post.blogImage}} alt={{unique-post.blogImage}} />
  </div>
  {{{unique-post.blogText}}}
</div>
