<div class="col-12 blog-text">
  <h2>{{unique-post.blogHeading}}</h2>
  <small>{{unique-post.blogDate}}</small>
  <div class="mt1 mb1">
    <img src={{unique-post.blogImage}} alt={{unique-post.blogImage}} />
  </div>
  {{{unique-post.blogText}}}
</div>
