<div class="col-12 blog-text">
  <h2 class="mt1 title">{{unique-post.blogHeading}}</h2>
  <small class="mb1">Posted on {{unique-post.blogDate}}</small>
  <hr>
  <div class="mt1 mb1">
    <img src={{unique-post.blogImage}} alt={{unique-post.blogImage}} />
  </div>
  <hr>
  {{{unique-post.blogText}}}
</div>

<div class="col-12 comments-section">

  <h3>
  {{#if unique-post.comments}}
    Comments
  {{else}}
    Leave a comment!
  {{/if}}
  </h3>

  {{input value=commentName placeholder="name"}}
  {{textarea value=commentMessage placeholder="Contribute to the conversation"}}
  <br>
  <button {{action "postComment"}}>Post</button>
  <div class="comments-section--Comments">
  {{#each unique-post.comments as |comment|}}
    <div class="card">
      <p>
        <strong>{{comment.name}}</strong>
        <small><em>{{date comment.date}}</em></small>
      </p>
      <p>
        {{comment.message}}
      </p>
    </div>
  {{/each}}
  </div>
</div>
