<div class="col-12">
  <h2>{{unique-post.blogHeading}}<sub>{{unique-post.blogDate}}</sub></h2>
  <div class="">
    <img src={{unique-post.blogImage}} alt={{unique-post.blogImage}} />
  </div>
  {{{unique-post.blogText}}}
</div>
