<div class="col-12 blog-text">
  <h2 class="mt1 title">{{unique-post.blogHeading}}</h2>
  <small class="mb1">Posted on {{unique-post.blogDate}}</small>
  <hr>
  <div class="mt1 mb1">
    <img src={{unique-post.blogImage}} alt={{unique-post.blogImage}} />
  </div>
  <hr>
  {{{unique-post.blogText}}}
</div>
<h3>
{{#if unique-post.comments}}
  Comments
{{else}}
  Leave a comment!
{{/if}}
</h3>
<hr>
<div class="col-12 comments-section">
  {{input value=commentName placeholder="name"}}
  {{textarea value=commentMessage placeholder="Contribute to the conversation"}}
  <button {{action "postComment"}}>Post</button>
  {{#each unique-post.comments as |comment|}}
        <p>
          <strong>{{comment.name}}</strong>
          <small><em>{{date comment.date}}</em></small>
        </p>
        <p>
          {{comment.message}}
        </p>
  {{/each}}
</div>
