<div class="blogList">
{{#each model as |post|}}
  <div class="card">
    <div class="card--image">
      {{#link-to 'uniquePost' post.id}}<img src={{post.blogImage}} alt={{post.blogHeading}}/>{{/link-to}}
    </div>
    <div class="card--text">
      <h3 class="npb">
        {{#link-to 'uniquePost' post.id}}{{post.blogHeading}}{{/link-to}}
      </h3>
      <div class="blog-postDate">
        {{post.blogDate}}
      </div>
      <div class="blog-excerpt">
        <p>
          {{post.blogExcerpt}}
        </p>
      </div>
      <div class="blog-link npt">
        {{#link-to 'uniquePost' post.id}}Read more{{/link-to}}
      </div>
    </div>
  </div>
{{/each}}
</div>
<div class="blogSide">
  <div class="card">
    <ul style="list-style-type:none;">
      {{#each model as |post|}}
        <li>{{#link-to 'uniquePost' post.id}}{{post.blogHeading}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </div>
</div>
